


<h1><%= @recipe.title.capitalize %></h1>
<br>
<br>

<p><img src="<%= @recipe.recipe_photo %>" alt='missing' style="max-height: 500px; max-width: 300px" /></p>
<br>
<label>Description:</label>
<%= @recipe.description %>
<br>
<br>
<%= link_to "Edit your Recipe", edit_recipe_path %>
